
<div class="field-mapping-body">
    <form id="mapping_form">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th class="tcenter">MailChimp</th>
                    {{#each mappings.modules}}
                        <th class="tcenter">
                            {{moduleIconToolTip this}}
                        </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tcenter">Email Address (EMAIL)</td>
                    <td class="tcenter"><em>Email Address (email1)</em></td>
                    <td class="tcenter"><em>Email Address (email1)</em></td>
                    <td class="tcenter"><em>Email Address (email1)</em></td>
                    <td class="tcenter"><em>Email Address (email1)</em></td>
                </tr>
			 {{#each mappings.mapping}}
				<tr>
				    <td class="tcenter">{{this.tag}}</td>
				    {{#each this.fields}}
					   <td class="tcenter"><em>{{#eq this 'No Mapping'}}<strong>{{this}}</strong>{{/eq}}{{#notEq this 'No Mapping'}}{{this}}{{/notEq}}</em></td>
				    {{/each}}
				</tr>
			 {{/each}}
            </tbody>
        </table>
    </form> 
</div>