
<div class="field-mapping-body">
    <form id="mapping_form">
        <table class="table status-table" id="mapping_table">
            <thead>
                <tr>
                    <th>MailChimp List Field</th>
                    {{#each mappings.modules}}
                        <th>
                            {{this}}
                        </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email Address (EMAIL)</td>
                    <td align="center"><em>Email Address (email1)</em></td>
                    <td align="center"><em>Email Address (email1)</em></td>
                    <td align="center"><em>Email Address (email1)</em></td>
                    <td align="center"><em>Email Address (email1)</em></td>
                </tr>
			 {{#each mappings.mapping}}
				<tr>
				    <td>{{this.tag}}</td>
				    {{#each this.fields}}
					   <td align="center"><em>{{this}}</em></td>
				    {{/each}}
				</tr>
			 {{/each}}
            </tbody>
        </table>
    </form> 
</div>