<tr class="mc-field-row" index="{{index}}">
	<td class="cell-xxsmall"><input type="button" class="btn btn-mini removeRow" value=" x " index="{{index}}" data-fieldname="{{mc_field}}" style="{{#eq mc_field 'LNAME'}}display:none;{{/eq}}{{#eq mc_field 'FNAME'}}display:none;{{/eq}}"></td>
	<td class="cell-medium"><input type="text" class="mc_field" index="{{index}}" data-fieldname="{{mc_field}}" value="{{mc_label}}" {{#eq mc_field 'LNAME'}}readonly{{/eq}}{{#eq mc_field 'FNAME'}}readonly{{/eq}} /></td>
	<td class="cell-medium">
		<select class="dd" index={{index}} module="Accounts" style="width: 100%;">
			{{#each metas.Accounts}}
				{{#eq name ../m1_field}}
				<option value="{{name}}" selected>{{label}}</option>
				{{/eq}}
				
				{{#notEq name ../m1_field}}
				<option value="{{name}}">{{label}}</option>
				{{/notEq}}
			{{/each}}
		</select>
	</td>
	<td class="cell-medium">
		<select class="dd" index={{index}} module="Contacts"  style="width: 100%;">
			{{#each metas.Contacts}}
				{{#eq name ../m2_field}}
				<option value="{{name}}" selected>{{label}}</option>
				{{/eq}}
				
				{{#notEq name ../m2_field}}
				<option value="{{name}}">{{label}}</option>
				{{/notEq}}
			{{/each}}
		</select>
	</td>
	<td class="cell-medium">
		<select class="dd" index={{index}} module="Leads"  style="width: 100%;">
			{{#each metas.Leads}}
				{{#eq name ../m3_field}}
				<option value="{{name}}" selected>{{label}}</option>
				{{/eq}}
				
				{{#notEq name ../m3_field}}
				<option value="{{name}}">{{label}}</option>
				{{/notEq}}
			{{/each}}
		</select>
	</td>
	<td class="cell-medium">
		<select class="dd" index={{index}} module="Prospects"  style="width: 100%;">
			{{#each metas.Prospects}}
				{{#eq name ../m4_field}}
				<option value="{{name}}" selected>{{label}}</option>
				{{/eq}}
				
				{{#notEq name ../m4_field}}
				<option value="{{name}}">{{label}}</option>
				{{/notEq}}
			{{/each}}
		</select>
	</td>
</tr>