<span class="record-cell span12" data-name="{{name}}" data-type="{{type}}">
	<table class="mc-field table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th><input type="button" class="btn btn-mini addRow" value=" + "></th>
				<th>Mailchimp Field</th>
				{{#each modules}}
                        <th class="tcenter">
                            {{moduleIconToolTip this}}
                        </th>
                    {{/each}}
			</tr>
		</thead>
		
		<tbody id="mc-field-grid">
		</tbody>
	</table>
</span>